*
    margin: 0
    padding: 0
    box-sizing: border-box

//MOBILE VIEW
//HEADER

body
    background-color: #2a9d8f
    font-family: 'Ubuntu', sans-serif

header
    background-color: #e76f51
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px
    margin: -16px 0
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px
    nav
        display: flex
        align-items: center
        .logo
            width: 100px

.username
    font-size: 20px
    text-shadow: 0px 1px 6px
//Mobile Dropdown menu
.dropdownRes
    position: relative
    color: #fff
    background-color: #fff

.contentDropdownLayoutRes
    position: absolute
    display: none
    height: 210px
    width: 87px
    padding: 10px
    left: 5px
    background-color: #fff
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
.contentDropdownLinksRes
    font-size: 18px
    &:hover
        color: orange

.contentDropdownLayoutResShow
    display: block

//Nav with links for views hidden in mobile
.desktop
    display: none

.showUsername
    width: 100px
    display: none

.showUsernameRes
    width: 100px

//mobile menu for dropdown    
#menu
    color: #fff
    margin: 0 30px
    font-size: 40px

//Hidden menu and arrow only for desktop
.dropHiddenTrue
    display: none
#arrow
    display: none
    color: #fff
    font-size: 20px
.LoginRegister
    padding: 5px
    a
        font-size: 20px
        margin: 5px
        &:hover
            color: white

// BODY MAIN TEMPLATE
main
    width: 300px
    box-shadow: rgba(0, 0, 0, 0.9) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px
    padding: 10px
    margin: 60px auto
    background-color: #fff
    border-radius: 5px

// -----DESKTOP----------- 
@media screen and ( min-width:600px  )
    .showUsername
        display: block
    .showUsernameRes
        display: none

    .dropButton
        display: block

    #arrow
        display: block
        //nav
    .desktop
        display: flex
        padding: 5px
        margin: 15px
        li
            padding: 5px
        // Username and arrow with dropdown js function
    .dropdown
        position: relative
        display: flex
        align-items: center
        justify-content: flex-end
    .dropButton
        display: flex
        padding: 20px

        //classes to show menu in dropdown
    .dropHiddenTrue
        position: absolute
        padding: 20px
        width: 100px
        top: 46px
        left: 32px
        background-color: #fff
        border-radius: 5px
        display: none

    .dropHiddenFalse
        display: block

    .desktop
        display: flex
        li
            padding: 10px
            transition: 0.5s
            &:hover
                transform: scale(110%)
            a
                font-size: 25px
                transition: 0.5s
                &:hover
                    color: white
    .dropdownRes
        display: none
    .username
        display: none

        //main
    main
        width: 1400px
