body
    background-color: #2a9d8f
    #pageIdentifier
        font-weight: bolder
        font-size: 30px
        text-transform: uppercase
        margin-bottom: 15px
        text-align: center

    div
        display: flex
        justify-content: center
        align-items: center

        img
            border-radius: 59%
            width: 150px
            height: 150px
            margin-bottom: 30px

    .userscore
        text-align: center
        justify-content: center
        width: 260px
        background-color: #EBF5DF
        border-radius: 5px
        font-size: 20px
        line-height: 10px
        padding-top: 12px
        margin-left: 10px

    .edit
        background-color: #e9c46a
        border-radius: 5px
        padding: 1px 10px 1px 10px
        display: flex
        flex-direction: row
        justify-items: center

    .info
        p
            padding-bottom: 20px

        ul
            width: 260px
            text-align: center
            justify-content: center

            li
                padding: 5px
                border: 1px solid orange
                background-color: #f4a261
                border-radius: 5px
                font-size: 15px
                margin-bottom: 5px

            li:hover
                color: #fff
                box-shadow: 0 0 11px rgba(33,33,33,.4)

    .buttons
        text-align: center

    #achi
        margin-top: 50px

        h2
            text-align: center
            margin-bottom: 30px
        button
            width: 260px
            padding: 5px
            border: 1px solid orange
            background-color: #f4a261
            border-radius: 5px
            font-size: 15px
            margin-bottom: 5px

        .achievments
            display: none
            article
                width: 260px
                height: 310px
                background-color: #fff
                border-radius: 20px
                box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.671)
                padding: 20px
                margin: 10px
                text-align: center
                /*The card is the reference point of the .sliding*/
                position: relative
                /* I don't want to see elements flowing out of me*/
                overflow: hidden
                transition-duration: 0.4s
        .achievments.visible
            display: block

/* -------------------------------------------Desktop------------------ */    
$breakpoint-desktop: 600px
@media (min-width: $breakpoint-desktop)

    main
        position: relative

    .info
        ul
            position: absolute
            right: 250px
            top: 320px

    section
        .userinfo
            margin-top: 50px
            margin-left: 250px

    .userscore
        text-align: center
        justify-content: center
        width: 260px
        background-color: #EBF5DF
        border-radius: 5px
        font-size: 25px
        position: absolute
        right: 574px
        top: 200px
        line-height: 10px
        padding-top: 12px
