body
    background-color: yellow

    #pic
        height: 300px
        background-color: red
    .info
        a
            padding: 10px
            border: 2px solid blue
            margin-top: 50px
    #achi
        margin-top: 50px
        h2
            text-align: center
            margin-bottom: 30px
        #achievments
            display: flex
            flex-wrap: wrap 
            justify-content: space-around
            article
                height: 200px
                width: 150px
                background-color: white
                border: 1px solid red
                border-radius: 10px
