#submit {
  border: none;
  background-color: #ff914d;
  padding: 6px 8px;
  margin-top: 10px;
  border-radius: 5px;
}
#submit .show {
  display: block;
}

.restart {
  display: none;
}

#restart .show {
  display: block;
}

.hide {
  display: none;
}
.hide #questionsView {
  justify-content: space-between;
  margin: auto;
  display: flex;
  padding: 5px;
  width: 700px;
  flex-wrap: wrap;
  border: 1px solid black;
  align-content: center;
}

#question {
  color: #ff914d;
  font-weight: 900;
  margin: 18px auto;
  font-size: 20px;
}

.start {
  display: flex;
  padding: 10px;
  width: 200px;
  justify-content: center;
  border: 1px solid black;
  margin: auto;
  text-align: center;
}

.questionsViewHide {
  display: none;
}

.questionsViewShow {
  display: block;
}

#question {
  text-align: center;
}

.quizActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quizActive button {
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  transition: 1s;
  width: 250px;
  background-color: #ff914d;
}
.quizActive button:hover {
  background-color: #e8c468;
  transform: rotate(6deg);
}

.userScore {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userScore h2 {
  font-size: 20px;
}

#restartContainer {
  display: flex;
  justify-content: center;
}
#restartContainer #restart {
  font-size: 30px;
  color: #ff914d;
  font-weight: 900;
}

@media screen and (min-width: 600px) {
  #question {
    font-size: 30px;
    margin: 30px auto 20px 0;
  }

  .quizActive button {
    width: 400px;
  }
  .quizActive button:hover {
    transform: rotate(3deg);
  }
}
